*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 650px;
    width: 1536px;
    font-family:'Product Sans',Arial,sans-serif;
}
#header{
    height: 58px;
    width: 100%;
    background-color:#ffffff;
}
#header #header_logo{
    height: 58px;
    width: 230px;
}
#header #header_logo a{
    color: #5f6368;
    font-size: 18px;
    line-height: 58px;
    text-decoration: none;
    width: 100px;
}
#header #header_logo a img{
    width: 37px;
    margin: 13px 10px 0px 11px;
    float: left;
}
#header #header_search{
    height: 47px;
    width: 722px;
    border-radius:  10px;
    position: absolute;
    top: 7px;
    right: 558px;
    border: none;
    background-color: #f1f3f4;
}
#header #header_search input{
    height: 47px;
    width: 92%;
    border: none;
    padding-left: 10px;
    background-color: #f1f3f4;
    font-size: 14px;
}
#header #header_search #search_btn{
    float: right;
    width: 8%;
    line-height: 53px;
    text-align: center;
}
#header #header_search input:focus,#header #header_search input:active,#header #header_search input{
    outline: 0;
    outline-style: none;
    outline-width: 0;
    border-radius: 10px 0 0 10px;
}
#header #Icon_1{
    position: absolute;
    top: 19px;
    right: 130px;
}
#header #Icon_1 a:hover{
    background-color: #f1f3f4;
}
#header #Icon_1 button a  i{
    color: #5f6368;
    font-size: 21px;
}
#header #Icon_1 button{
    height: 43px;
    width: 43px;
    border-radius: 22px;
    background-color: #ffffff;
    border: none;
}
#header #Icon_1 button:hover{
    background-color: #f1f3f4;
}
#header #Icon_2{
    position: absolute;
    top: 19px;
    right: 80px;
}
#header #Icon_2 a:hover{
    background-color: #f1f3f4;
}
#header #Icon_2 button a  i{
    color: #5f6368;
    font-size: 21px;
}
#header #Icon_2 button{
    height: 43px;
    width: 43px;
    border-radius: 22px;
    background-color: #ffffff;
    border: none;
}
#header #Icon_2 button:hover{
    background-color: #f1f3f4;
}
#header #img_acc{
    position: absolute;
    top: 11px;
    right: 30px;
}
#header #img_acc button{
    height: 45px;
    width: 44px;
    border: none;
    background-color: #ffffff;
}
#header #img_acc button:hover{
    background-color: #f1f3f4;
}
#header #img_acc button img{
    height: 36px;
    width: 36px;
}
#left{
    height: 650px;
    width: 283px;
    background-color:#ffffff;
    float: left;
    margin-top: 30px;
}
#left ul{
    border-bottom: 1px solid #dadce0;
}
#left ul a{
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    border-radius: 20px;
    color: #3c4043;
    font-weight: 500;
}
#left ul a li{
    border-right: 20px;
    line-height: 46px;
    margin: 0px ;
}
#left ul a li:hover{
    background: #f1f3f4;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#left ul a i{
    margin: 0 19px 0 22px;
    font-size: 21px;
}
footer{
    display: block;
    height: 80px;
    padding: 0 0 0 20px;
    margin-top: 293px;
}
footer a{
    color: #5f6368;
    text-align: center;
    text-decoration: none;
    margin: 12px;
    font-size: .75rem;
    font-weight: 600;
}
footer a:hover{
    text-decoration:underline;
}
#main{
    height: 650px;
    width: 1238px;
    background-color: #ffffff;
    float: left;
    margin-top: 30px;
    border-top: 0.5px solid #f1f3f4;
    overflow-y: scroll;
}
#main  #main_1{
    width: 900px;
}
#main  #main_1 #main_header{
    height: 220px;
    width: 100%;
    text-align: center;
}
#main #main_1 #main_header #img_main a img{
    height: 97px;
    width: 97px;
}
#main #main_1 #main_header #inTro h2{
    margin: 15px 0 15px 0;
    font-size: 30px;
    font-weight: 500;
}
section{
    height: 982px;
    width: 100%;
}
section #main_top{
    height: 520px;
    width: 100%;
}
section #main_top #col_1{
    height: 258px;
    width: 50%;
    float: left;
}
#tab_1{
    height: 238px;
    width: auto;
    margin: 18px 14px 0 20px;
    background-color: #ffffff;
   
    border: 1px solid #dadce0;
    border-radius: 10px;
 }
#tab_2{
    height: 238px;
 }
 #tab_2 a{
    text-decoration: none;
 }
#tab_Top{
    margin: 15px 0px 13px 15px;
    width: 53%;
    color: #322b2b;
}
#tab_Top h3{
    margin: 10px;
}
#tab_Top p{
    margin: 10px;
}
#tab_bt{
    text-align: center;
    width: 127px;
    height: 93px;
    margin: -113px 0px 0px 259px;
}
#ipet_1{
    border: 0.5px solid #dadce0;
    list-style-type: none;
    margin: 28px 0 0 0;
}
#ipet_2{
    border: 0.5px solid #dadce0;
    list-style-type: none;
    margin: 43px 0 0 0;
}
#ipet_3{
    border: 0.5px solid #dadce0;
    list-style-type: none;
    margin: 68px 0 0 0;
}
#ipet_4{
    border: 0.5px solid #dadce0;
    list-style-type: none;
    margin: 47px 0 0 0;
}
#main_bt{
    margin-left: 23px;
    line-height: 57px;
    color: #1a73e8;
}
#m_bt{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
#m_bt #col_2{
    margin: 0px 0px 0px 20px;
    width: 96%;
    border: 1px solid #dadce0;
    border-radius: 10px;
}
#m_bt #col_2 #pub_1 a{
    text-decoration: none;
    line-height: 58px;
    border-bottom: 1px solid #dadce0;
}
#m_bt #col_2 #pub_1 h3{
    font-weight: 400;
    color: #322b2b;
    font-size: 17px;
    border-bottom: 1px solid #dadce0;
}
#m_bt #col_2 #pub_1 a i{
    margin: 0 19px 0 0;
    font-size: 21px;
}
#m_bt #col_2 h3{
    height: 58px;
    margin-left: 25px;
}
#m_bt #col_2 #pub h3{
    margin-top: 10px;
}
#m_bt #col_2 #pub_1 h3:hover{
    background-color: #f1f3f4;
}
section #btm{
    margin: 48px 28px 0 44px;
}
section #btm h2{
    font-weight: 400;
    font-size: .875rem;
    padding: 0px;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: #1a73e8;
}






